@font-face {
    font-family: 'Brandbe-Light';
    src: url('/fonts/Brandbe_Light.otf');
    font-style: normal;
}
@font-face {
    font-family: 'Brandbe-Regular';
    src: url('/fonts/Brandbe_Regular.otf');
    font-style: normal;
}
@font-face {
    font-family: 'Brandbe-Bold';
    src: url('/fonts/Brandbe_Bold.otf');
    font-style:normal;;
}