@font-face {
    font-family: 'Brandbe-Light';
    src: url('/fonts/Brandbe_Light.otf');
    font-style: normal;
}
@font-face {
    font-family: 'Brandbe-Regular';
    src: url('/fonts/Brandbe_Regular.otf');
    font-style: normal;
}
@font-face {
    font-family: 'Brandbe-Bold';
    src: url('/fonts/Brandbe_Bold.otf');
    font-style:normal;;
}

// SF Pro Display
@font-face {
    font-family: 'SF-Pro-Regular';
    src: url('/fonts/sf-pro/Sf_Pro_Regular.otf');
    font-style: normal;
}
@font-face {
    font-family: 'SF-Pro-Medium';
    src: url('/fonts/sf-pro/Sf_Pro_Medium.otf');
    font-style: normal;
}
@font-face {
    font-family: 'SF-Pro-Bold';
    src: url('/fonts/sf-pro/Sf_Pro_Bold.otf');
    font-style:normal;;
}