// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$green: #19D42C;
$darkGreen: #104A45;
$darkBlack: #1D2020;
$mostaza: #B38B59;
$darkOrange: #963303;
$ligthPink: #B76F4C;
$grey: #C8C8C8;
$lightGrey: #F0F0F0;
$white: #FFFFFF;

$carousel-control-color: $darkGreen;