// Body
$body-bg: #f8fafc;

$font-size-base: 0.9rem;
$line-height-base: 1.6;
$line-height: 30px;

// Typography
$font-family-times: 'Times New Roman';
$font-family-candara: 'Candara';
$font-family-poppins: 'Poppins', sans-serif;

// Roboto
$new-font-roboto:'Roboto', sans-serif;

// DM Serif Display & DM Sans
$new-font-dm-serif:'DM Serif Display', serif;
$new-font-dm-sans:'DM Sans', sans-serif;

// Urbanist
$new-font-urbanits: 'Urbanist', sans-serif;

//Default Sizes
$font-size-title: 50px;
$font-size-subtitle: 30px;
$font-size-normal: 18px;

// Default Sizes Small Devices
$font-size-title-s: 32px;
$font-size-normal-s: 18px;

// Colors
$green: #19D42C;
$darkGreen: #104A45;
$darkBlack: #1D2020;
$mostaza: #B38B59;
$darkOrange: #963303;
$ligthPink: #B76F4C;

$waze: #33CCFF;
$grey: #C8C8C8;
$lightGrey: #F0F0F0;
$black: #000;
$white: #FFFFFF;
$primaryBlue: #000C27;
$primaryRed: #BD0102;
$carousel-control-color: $darkGreen;